<%-include ('layouts/admin-header.ejs') %>
<nav aria-label="breadcrumb">
     <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">Ana Sayfa</li>
     </ol>
</nav>


<div class="container-fluid">
     <h3>Dashboard</h3>
      

</div>


<%-include ('layouts/admin-footer.ejs') %>