
  <footer class="footer">

    <div class="container arkaplan-siyah ">
      <div class="row">
        <div class="col-4 ">

          <h5 class="baslik" >  About <hr></h5>
          <p>Cras at ultrices erat, sed vulputate eros. <br> Nunc at augue gravida est fermentum <br> vulputate. Pellentesque et ipsum in dui <br> malesuada tempus.</p>
        </div>


        <div class="col-2 ">

          <h5 class="baslik">Archives <hr></h5>
          <ul>
            <li> <a href="#"> June 2014</a> </li>
            <li> <a href="#">July 2014</a> </li>
            <li> <a href="#"> August 2014</a> </li>
            <li> <a href="#"> September 2014</a> </li>
            <li> <a href="#"> November 2014</a> </li>
          </ul>
        </div>

        <div class="col-2 ">

          <h5>Recipes <hr></h5>
          <ul>
            <li> <a href="#">Browse Recipes</a> </li>
            <li> <a href="#">Recipe Page</a> </li>
            <li> <a href="#">Submit Recipe</a> </li>

          </ul>
        </div>

        <div class="col-4 ">

          <h5>Newsletter <hr></h5>
          </h5>
          <p>Sign up to receive email updates on new <br> product announcements, gift ideas, sales <br> and more.</p>


			<form action="#" method="get">
				<input class="newsletter" type="text" placeholder="mail@example.com" value=""/>
				<button class="newsletter-btn" type="submit ">Subscribe</button>

			</form>

        </div>




      </div>
    </div>

    <div class="container-fluid arkaplan-kahverengi text-light " id="footer-bottom">
      <p class="copyright">  <i class="far fa-copyright"></i> Copyright 2014 by <a href="#"> Chow.</a> All Rights Reserved.</p>
    </div>
  </footer>


  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="js/script.js"></script>
</body>

</html>
