<!-- 2 -->
<section class="slider">

</section>
<!-- 2 -->



<section class="content container">
  <div class="row">
    <!-- 4 -->
    <div class="col-md-10 recipes">
      <!-- BURAYA TARİF IZGARASI GELECEK -->
    </div>
    <!-- 4 -->


    <!-- 3 -->
    <div class="col-md-2 sidebar">
      <!-- BURAYA SIDEBAR GELECEK -->
    </div>
    <!-- 3 -->
  </div>
</section>
