:root {
  --color1: #8DC63F;
  --color2: #606060;
  --color3: #333333;
  --color4: #909090;
}

body {
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

a {
  color: var(--color4);
}

a:hover {
  color: var(--color1);
}

/* me-auto mb-2 mb-lg-0
Stillerinizi yazarken karışıklık olmaması için her açtığınız
stil etiketinin başına mutlaka çalıştığınız bölümünetiketini koymayı ihmal etmeyiniz.
Ör:
*/
.header .navbar ul li a {
  margin-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  color: #707070;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  overflow: hidden;
  border-bottom: 3px solid transparent;
}

footer .arkaplan-siyah {
  color: white;
}

.footer {
  background-color: #333333;
  color: #B8B8B8;
  padding: 35px 0 40px 0;
  margin: 0;
}

footer li a {
  color: #B8B8B8;
  text-decoration: none;
  margin-left: -13px;
}

footer p {
  color: #B8B8B8;
}

footer ul {
  list-style: none;
}

footer li {
  position: relative;
  line-height: 1.8rem;
}

footer li:before {
  content: "\25b8";
  position: absolute;
  left: -2em;
  color: white;
}

footer button {
  background-color: #8DC63F;
  border: 1px solid #474747;
  font-weight: 700px;
  line-height: 18px;
  padding: 12px;
  height: 45px;
  margin: 0 auto;
}

footer input {
  background-color: #3A3A3A;
  border: 1px solid #474747;
  font-weight: 600px;
  line-height: 18px;
  padding: 12px;
  height: 45px;
  margin: 0 auto;
  color: #B8B8B8;
}

footer .copyright {
  padding-left: 60px;
}

footer #footer-bottom {
  background: #2A2A2A;
  color: #B0B0B0;
  padding: 18px 0;
  position: absolute;
  margin-bottom: 0;
  margin-top: 35px;
}

footer p a {
  color: white;
  text-decoration: none;
}

.dortuncu-bolum .card-img-top {
  height: 14vw;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

.dortuncu-bolum .card {
  border: 0;
  margin-top: 1rem;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  width: 100%;
}

.dortuncu-bolum .card-body {
  background-color: #f5f6fa;
}

.dortuncu-bolum .card-body h4 {
  line-height: 1;
  padding: 3%;
  min-height: 5vh;
}

.dortuncu-bolum .kutular input[type="button"] {
  margin: 0 5px;
  border: 1px solid white;
  cursor: pointer;
}

.dortuncu-bolum .kutular input[type="button"]:hover {
  background-color: #48a868;
}

@media (min-width:576px) {
  .dortuncu-bolum .card-img-top {
    height: 50vw;
    object-fit: cover;
    margin-top: 3%;
  }
}

@media (min-width:768px) {
  .dortuncu-bolum .card-img-top {
    height: 20vw;
    object-fit: cover;
  }
}

@media (min-width:992px) {
  .dortuncu-bolum .card-img-top {
    height: 14vw;
    object-fit: cover;
  }
}

section div.cizgi {
  border-bottom: 1px solid #d4d4cf;
  width: 475px;
}

section .card-body {
  background-color: #f5f6fa;
}

section img.card-img-top {
  height: 14vw;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

section div.cards{
  border: 0;
  margin-top: 1rem;
  min-width: 100%;
  min-height: 100%;
  height: auto;
}
